/* 全体用 */
body{
    /* テキストを選択できないようにする */
    user-select: none;
    /* 余分な余白を消す */
    margin: 0;
    text-align: center;
}

/* ヘッダー用 */
#title{
    /* 余分な余白を消す */
    margin-top: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: gray;
    background-color: gray;
    -webkit-text-stroke: 2px black;
}

/* 本文用 */
#returnTopButtonDiv,
#detailButtonDiv,
#returnDetailButtonDiv{
    margin: 30px;
}
/* a要素用 */
#permission
.yesButton,
.noButton,
#searchButton,
#returnButton,
#detailButton,
#returnTopButton{
    text-decoration: none;
    background-color: grey;
    padding: 20px;
    border-radius: 30%;
    color: white;
    font-weight: bold;
}
/* a要素が押された場合 */
#permission
.yesButton:active,
.noButton:active,
#searchButton:active,
#returnButton:active,
#detailButton:active,
#returnTopButton:active{
    background-color: black;
    padding: 20px;
    border-radius: 30%;
    color: white;
}

/* 位置情報許可メッセージ用 */
#permissionMessage{
    padding-bottom: 10px;
}

/* 位置情報のメッセージ用 */
#messageArea{
    padding-top: 20px;
}

/* 検索条件用 */
/* select要素用 */
select,option{
    padding: 20px;
    border-radius: 20%;
    font-size: large;
}
option{
    background-color: darkgrey;
}
option:checked{
    background-color: gray;
}
/* div要素用 */
#searchConditionButton{
    padding-top: 50px;
}

/* 店舗一覧用 */
#shopInfo{
    border: 2px solid gray;
    margin: 50px;
    padding-bottom: 10px;
}
/* 1件もヒットしなかったとき用 */
#notHitMassage{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 2px solid gray;
}

/* テーブル用 */
table{
    border: 2px solid gray;
    margin-bottom: 100px;
    width: 80%;
}
th,
td{
    padding : 20px;
}
#tableElement{
    font-weight: bold;
    width: 20%;
}
td{
    text-align: left;
}
#shopImage{
    text-align: center;
}

/* ページネーション用 */
#shopInfo{
    padding: 0;
}
ul{
    padding-left: 0;
}
ul,
.paginationjs-pages{
    font-size: larger;
    list-style: none;
    display: flex;
    justify-content: center;
    color: gray;
}
.active{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    background-color: gray;
}
li{
    margin: 10px;
    padding: 10px;
}

/* フッター用 */
footer{
    width: 100%;
    padding-top: 10px;
    background-color: gray;
    bottom: 0;
}
/* top.htmlとdetail.html用 */
#topFooter{
    position: absolute;
}
/* list.html用 */
#lists,
#detailGroup{
    min-height: calc(85vh);
}
#listFooter,
#detailFooter{
    position: relative;
}